# DAX Configuration
PROJECT_PATH=
ENVIRONMENT=dev

HATCHET_CLIENT_TOKEN=""
HATCHET_CLIENT_HOST_PORT=localhost:7077
HATCHET_CLIENT_TLS_STRATEGY=none
DAX_HATCHET_WORKER_NAME=dax-worker

PULUMI_CONFIG_PASSPHRASE_FILE=""
